<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 이름(com.achu.mapper.MemberMapper)과 xml의 namespace속성값이 일치 -->

<mapper namespace="com.achu.mapper.TagMapper">

	<!-- <insert id="insert" statementType="CALLABLE" parameterType="HashMap"> 
		<![CDATA[
			CALL p_insert_tag( 
				#{tagName, jdbcType=VARCHAR}, 
				#{rs, mode=OUT, jdbcType=INTEGER, javaType=int})
		]]>
	</insert> -->
	
	<insert id="insert"> 
		INSERT INTO tag VALUES (tag_seqno.NEXTVAL,#{tagName})
	</insert>
	
	<select id="list" resultType="Tag">
		select top_seq,top,mid_seq,mid,seqno,name from v_tag_info
	</select>
	
	<update id="edit">
		UPDATE tag SET name=#{newName} WHERE seqno=#{seqno}
	</update>
	
	<delete id="remove">
	{CALL
		BEGIN
			DELETE FROM tag_match WHERE tag_seqno=#{seqno};
  			DELETE FROM tag WHERE seqno=#{seqno};
  		END
  	}
	</delete>
	
	<select id="confirm" resultType="int">
		select count(*) from tag WHERE name=#{tagName}
	</select>
	
	<select id="tagSearch" resultType="Tag">
		select * 
		from tag 
		where name like '%'||#{keyword}||'%' 
			and seqno not in (
				select tag_seqno from art_tag_value where art_seqno=#{seqno}
				)
	</select>
	
	<insert id="artTagInsert" >
		INSERT INTO art_tag_value VALUES (art_tag_seqno.NEXTVAL, #{seqno}, #{tagSeq})
	</insert>
	
	<delete id="artTagDelete">
		DELETE FROM art_tag_value WHERE art_seqno=#{seqno} and tag_seqno=#{tagSeq}
	</delete>

</mapper>